#Partie Interface
Flask
gunicorn
pandas
flask_socketio
sqlite3
socketio

#Partie Capteurs
RPi.GPIO
time
datetime
fake_rpi

#Partie Joystick
pygame

#Partie database
pandas
sqlite3
datetime
time

#Partie TextToSpeech
datetime
os
pyttsx3
time

#Partie Commentaires
#sudo apt-get install mpg321
slacker
sclackClient
#son /usr/share/alsa/alsa.conf puis pcm.front cards.pcm.default au lieu de pcm.front cards.pcm.front
#son2 sudo apt-get install alsa-utils puis sudo amixer cset numid=3 0
