<!-- Navigation -->
<nav class="navbar navbar-default navbar-expand-lg navbar-dark" style="background-color:#1b59ad;">
  <div class="container">
    <a class="navbar-brand" href="#">Live Baby Foot</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/match_team">Teams Config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/livematch">Live Match</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/players">Players Stats</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
