{% extends 'layout.html' %}


{% block body %}


<script type="text/javascript">
    $(document).ready(function() {
        $('#bouton_annuler').on('click', function() {
            $.ajax({
                url: "{{ url_for('perte_un_but') }}",
                method: "POST",
                data: {
                    data: 'blabla'
                },
                success: function(data) {
                    $('#response').html(data);
                }
            });
        });
        
    });
    
</script>
     
<script type="text/javascript">
    $(document).ready(function() {        
        $('#bouton_gamelle_b').on('click', function() {
            $.ajax({
                url: "{{ url_for('gamelle_bleu') }}",
                method: "POST",
                data: {
                    data: 'blabla'
                },
                success: function(data) {
                    $('#response').html(data);
                }
            });
        });
    });
    
</script>
 
<script type="text/javascript">
    $(document).ready(function() {       
        $('#bouton_gamelle_r').on('click', function() {
            $.ajax({
                url: "{{ url_for('gamelle_rouge') }}",
                method: "POST",
                data: {
                    data: 'blabla'
                },
                success: function(data) {
                    $('#response').html(data);
                }
            });
        });
    });
    
</script>        








<script src="./static/js/easytimer.min.js"></script>
<script>
    var timerInstance = new Timer();
</script>
<script type="text/javascript">
    var timer = new Timer();
    timer.start();
    timer.addEventListener('secondsUpdated', function (e) {
        $('#basicUsage').html(timer.getTimeValues().toString());
    });
</script>




<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</br><h1> Allez, battez-vous ! </h1>
<table id="table_base">

<tr id = "tr_name">

    <td id = "td_name">
    	{% for id_player in players_bleu.index %}
    	<h3 style="color:white;">{{players_bleu.loc[id_player].firstname + " " +players_bleu.loc[id_player].lastname}}</h3>
    	{% endfor %}
    </td>

    <td><div id="basicUsage">00:00:00</div></td>

    <td id = "td_name">
    	{% for id_player in players_rouge.index %}
    	<h3 style="color:white;">{{players_rouge.loc[id_player].firstname + " " +players_rouge.loc[id_player].lastname}}</h3>
    	{% endfor %}
    </td>

<tr></tr>


 <tr id="tr_vide">
  <td><div id="blue_circle"><div id="score"><div id="score_b"></div></div></div></td>
  <td><h1>/</h1></td>
  <td><div id="red_circle"><div id="score"><div id="score_r"></div></div></div></td>
 </tr>

 <tr id="tr_vide">
  <td><button id="bouton_gamelle_b" class="button_gamelle_b" style="vertical-align:middle"><span>Gamelle des Bleus </span></button></td>
  <td><button id="bouton_annuler" class="button_annuler" style="vertical-align:middle"><span>Annuler le dernier but </span></button></td>
  <td><button id="bouton_gamelle_r" class="button_gamelle_r" style="vertical-align:middle"><span>Gamelle des Rouge </span></button></td>
 </tr>
 </table>

<footer id="footer">
  	<table id="footer">
		<tr id="tr_footer">
  			<td id="td_footer"><h3><a href="{{ url_for('match_team') }}"><img src="static/img/retour.png" style="width:30px;height:30px; margin: 0 15px 0 0;">Retour</a></h3></td>
  			<td id="td_footer"><img src="static/img/valider.png" style="width:30px;height:30px; margin: 0 15px 0 0;"><h3><form method="POST" id="fin_match" action="{{ url_for('players')}}"><input type="submit" form="fin_match" value="Fin du match"/></form></h3></td>
 		</tr>
 	</table>
</footer>

{% endblock %}
