{% extends 'layout.html' %}

{% block body %}
</br>
<h1>C'est qui le patron ?</h1>
</br>
  <div id="table_container_player">
    <div class="container">
      
            
    <br>
    
    <div id="scrolltable">
    <table>
        <tr id="thead">
        	<th><div><h3>Prénom</h3></div></th>
			<th><div><h3>Nom</h3></div></th>
			<th><div><h3>Surnom</h3></div></th>
			<th><div><h3>#Matchs</h3></div></th>
			<th><div><h3>#Victoires</h3></div></th>
			<th><div><h3>#Défaites</h3></div></th>
			<th><div><h3>Temps de jeu</h3></div></th>
			<th><div><h3>Buts Pour</h3></div></th>
			<th><div><h3>Buts Contre</h3></div></th>
        </tr>
       
        {% for id_player in players_table.index %}
				<tr>
				  <td>{{ players_table.loc[id_player].firstname }}</td>
				  <td>{{ players_table.loc[id_player].lastname }}</td>
				  <td><a href="player/{{id_player}}">{{ players_table.loc[id_player].nickname }}</a></td>
				  <td>{{ players_table.loc[id_player].match_count }}</td>
				  <td>{{ players_table.loc[id_player].match_win_count }}</td>
				  <td>{{ players_table.loc[id_player].match_los_count }}</td>
				  <td>{{ players_table.loc[id_player].game_time_sec }}</td>
				  <td>{{ players_table.loc[id_player].goals_scored }}</td>
				  <td>{{ players_table.loc[id_player].goals_conceced }}</td>
				</tr>
			  {% endfor %}
 
    </table>
	</div>	
      
      
    </div>
    
    
   


    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
    



  </div>


<footer id="footer">
  	<table id="footer">
		<tr id="tr_footer">
  			<td id="td_footer"><h3><a href="{{ url_for('index') }}"><img src="static/img/retour.png" style="width:30px;height:30px; margin: 0 15px 0 0;">Menu</a></h3></td>
  		</tr>
 	</table>
</footer>
{% endblock %}

<input class="form-control" id="myInput" type="text" placeholder="Search..">
